 #adress {
     font-weight: 100;
 }
 
 #adress {
     font-weight: 100;
 }
 
 #head_logo {
     width: 50px;
     height: 50px;
 }
 
 #title_text {
     font-size: 20px;
     font-weight: 100;
 }
 
 .employees {
     margin-top: 10%;
     margin-bottom: 10%;
     margin-left: 30%;
     margin-right: 10%;
 }
 
 modal {
     color: black
 }
 
 .inner-3 {
     padding-right: 28%;
 }
 
 #sendbutton {
     float: right;
 }
 
 #head_logo {
     width: 50px;
     height: 50px;
 }
 
 #title_text {
     font-size: 20px;
     font-weight: 100;
 }
 
 modal {
     color: black
 }
 
 .inner-3 {
     padding-right: 28%;
 }
 
 .top-margin {
     margin-top: 8%;
 }
 
 .team-header-top {
     margin-left: 10%;
 }
 
 .team-header-bottom {
     margin-top: 2%;
     margin-left: 11%;
 }
 
 .team-header-bottom-2 {
     color: cadetblue;
 }